:root{
    --purpura-oscuro: #776BCC;
    --purpura-claro: #C7C5F4;
    --purpura-oscuro-2:#4C489D;
    --purpura-claro-2:#7C78B8;
    --purpura-oscuro-2:#5D54A4;
    --purpura-oscuro-3:#6C63AC;
    --purpura-claro-3:#6A679E;
    --purpura-claro-4:#7E7BB9;
    --purpura-oscuro-4:#5C5696;
    --purpura-claro-5:#7875B5;
    --azul-celeste: #8AFFE6;
    --azul-oscuro: #1B3F4B;
    --azul-oscuro-intermedio: #3b5d68;
    --azul-profundo:#0164f8;
    --azul-profundo-oscuro:#0453c9;
    --gris-claro: #CBCBCB;
    --gris-oscuro:#6b6868;
    --gris-oscuro-medio:#bbb8b8;
    --azul-claro: #4E8AC4;
    --azul-claro-intermedio: #6cb5fa;
    --negro: #000000;
    --blanco: #fff;
    --verde: #017e0c;
    --verde-claro:#03b912;
    --naranja:#f86605;
    --naranja-claro:#c25106;
    --rojo:#f70511;
    --rojo-claro:#c5060f;
  }
/*********************CONTENEDOR PRINCIPAL*************/
.container{
 width: 100%;
 height: 100%;
 position: fixed;
 left: 19rem;
 overflow-y: auto;
}

/***********************ENCABEZADO*************************/
.containerMain{
    display: flex;
    top: 80px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    width: 63rem;
    height: 80px;
}
.btnImport{
    position: absolute;
    left: 0;
    bottom: 0px; 
    padding: 4px 8px;

    &:hover{
      background: var(--purpura-oscuro-2);
      color: var(--blanco);
    }
}

.btnExport{
    position: absolute;
    left: 6.5rem;
    bottom: 0px; 
    padding: 4px 8px;

    &:hover{
      background: var(--purpura-oscuro-2);
      color: var(--blanco);
    }
}

.btnAdd{
    position: absolute;
    right: 0;
    top: 0%;
    padding: 7px 14px;
    background: var(--verde);
    color: var(--blanco);

    &:hover{
      background: var(--verde-claro);
  }
}

.tittle{
    font-size: 25px;
    font-family: sans-serif;
    color: var(--azul-oscuro);
}

.btnAdd, .btnExport, .btnImport{
    border-radius: 10px;
    border: none;
    justify-content: space-between;
    box-shadow: 0 0 5px var(--azul-oscuro);
}

.icon{
    font-size: 20px;
    margin-right: 5px;
}
/***********INPUT SEARCH**********************/

/* Estilos generales del contenedor */
.searchContainer {
  position: relative;
  width: 63rem;
  height: 40px;
  padding: 30px;
  box-shadow: 0 0 5px var(--azul-oscuro);
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 100px;
  margin-right: 20px;
  background: var(--blanco);
  overflow: hidden; /* Oculta el exceso de contenido */
}

/* Estilos del input */
.searchInput {
  position: absolute;
  top: 10px;
  width: 40%;
  height: 70%;
  border: none;
  font-size: 16px;
  color: var(--gris-oscuro);
  border-radius: 10px;
  cursor: pointer;
  text-indent: 35px;
  &:hover{
    border: 1px solid var(--gris-oscuro);
  }
  /* Estilos al enfocar el input */
  &:focus {
  outline: none; 
  border: 1px solid var(--azul-profundo); 
  }
}

/* Estilos del icono */
.searchIcon {
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  color: var(--gris-oscuro);
  font-size: 20px;
  cursor: pointer; 
  perspective: 1000px;
}

.iconS{
  transition: transform 0.3s ease;
/* Estilos al pasar el mouse sobre el icono */
  &:hover {
  color: var(--azul-claro);
  transform: translateZ(10px) scale(1.1);
  }
}

/*********************TABLA*******************/

.containerTable{
  width: 63.5rem;
}
/*CHECKBOX*/
.customCheckbox {
  display: flex;
  align-items: center;
  width: 20px; /* Tamaño del checkbox */
  height: 20px;
  border: 2px solid var(--gris-oscuro); /* Color y grosor del borde */
  border-radius: 4px; /* Opcional: para bordes redondeados */
  transition: border-color 0.3s ease; /* Efecto de transición */
  cursor: pointer;

  &:hover{
    background: var(--azul-celeste);
  }
}

.customTable {
  font-size: 16px;
  box-shadow: 0 0 5px var(--azul-oscuro);
  border-radius: 10px; /* Ajusta el valor según el grado de redondez que desees */
  overflow: hidden; /* Esto es importante para que las esquinas redondeadas se apliquen correctamente */
  border: 1px solid var(--gris-claro); /* Borde alrededor de la tabla */
}

.table td,
.table th {
border-left: none; /* Quitar borde izquierdo */
border-right: none; /* Quitar borde derecho */
}

.table{
width: 63rem;
margin-left: 20px;
margin-right: 20px;
top: 20px;
position: relative;
}

.table thead th {
border-bottom: 1px solid var(--gris-claro); /* Mantener borde inferior en el encabezado */
}

.table tbody tr {
border-bottom: 1px solid var(--azul-claro); /* Líneas horizontales */

}

.table tbody td {
border-bottom: 1px solid var(--gris-claro); /* Mantener las líneas horizontales entre filas */
}
/* En tu archivo CSS */
.table tfoot {
height: 5px;
}

.table tfoot td {
padding: 0px; /* Ajusta el padding según tu necesidad */
}

.textfoot{
margin-left: 10px;
font-size: 12px;
}

.selectLine{
padding: 0;
width: 20px;
height: 1.8rem;
margin-top: 15px;
margin-left: 30px;
}

.pestanas{
padding: 0;
width: 3rem;
margin-right: -45px;
height: 25px;
margin-top: 5px;
}
/*******************BOTONES CRUD*****************/

.btnVer, .btnEdit, .btnDelete{
border: none;
padding: 5px 7px; /* Ajusta el padding según tus necesidades */
margin-right: 7px; /* Espacio entre los botones */
cursor: pointer;
border-radius: 4px;
color: var(--blanco);
}

.btnVer{
background: var(--azul-profundo);
&:hover{
  background: var(--azul-profundo-oscuro);
}
}

.btnEdit{
background: var(--naranja);
&:hover{
  background: var(--naranja-claro);
}
}

.btnDelete{
background: var(--rojo);
&:hover{
  background: var(--rojo-claro);
}
}

@media (max-width: 768px) {
  .container {
      left: 0; /* O un valor más pequeño si quieres un margen */
      width: 100%; /* Asegura que el contenedor use todo el ancho */
  }
}

