.navbar_main {
  width: 82%; 
  height: 80px; 
  background: #766acb; 
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute; 
  right: 0; 
}

.section_menu {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
}

.section_perfil {
  width: 20%;
  height: auto;
  display: flex;
  justify-content: center;
}
