.navbar_main {
  width: 100%; /* Ancho */
  height: 80px; /* Alto */
  background: #766acb;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.section_menu {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
}

.section_perfil {
  width: 20%;
  height: auto;
  display: flex;
  justify-content: center;
}
