.sidebar_logo {
    width: 200px; /* Ajusta según el tamaño deseado */
    height: auto; /* Mantiene la proporción */
    margin: 0 auto 0.1rem auto; /* Centrado horizontal con espacio debajo */
    display: block;
  }
  
.sidebar_main {
    background: #120657;
    width: 18%;
    height: 100vh;
    padding: 2rem 1rem;
    margin: 0px;
}



.main_list {
    height: auto;
}
.list_option {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.list_option a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
}
.list_option a:hover{
    color: rgb(110, 14, 30);
    transition: 0.5s;
}

